<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IArbitrageService">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49359/ArbitrageService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IArbitrageService"
                contract="ForkService.IArbitrageService" name="BasicHttpBinding_IArbitrageService" />
        </client>
    </system.serviceModel>
</configuration>
